In [79]:
#!pip install flatten_json
#!pip install pandasql
from datetime import datetime
import time 
import json
import pandas as pd
from flatten_json import flatten
from pandas.io.json import json_normalize
from pandasql import *
# use below to install psycopg2 module:
# env LDFLAGS="-I/usr/local/opt/openssl/include -L/usr/local/opt/openssl/lib" pip install psycopg2
import psycopg2 as pg
import boto3
# do some display settings 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [80]:
#connect to PA follower db
con = pg.connect(host="ec2-54-156-254-176.compute-1.amazonaws.com",
                       database="dlcedt8p3nhn0", 
                       user="u62j92rpd07l3d", 
                       password="pbb709b77a3107912ad8589b542a0a3a07acc2351299008ba05fbcb4dd5eed7ac")

In [81]:
query= """ with dim_customers as (
select distinct id as customer_id, first_name, last_name, phone_number, email, created_at, updated_at, external_id, uuid, metadata ->> 'partnersId' as partnersId 
from public.customers 
)
select * from dim_customers """

df=pd.read_sql(query, con)

# size of df 
import sys
from decimal import Decimal
memory_usage= sys.getsizeof(df)
gigabyte= 1024**3
df_size= round(memory_usage / gigabyte,3)

print(f'{df_size} GB')

0.009 GB

In [82]:
df

       customer_id first_name  last_name  phone_number                       email                 created_at                 updated_at        external_id                                  uuid partnersid
0             9090    Annette     Bonner  +19405971474    annettembonner@yahoo.com 2019-07-31 17:07:57.307030 2019-07-31 17:07:57.307030  148675-fOuZutHznO  19e527b1-f6c0-4783-a1d7-cc0d8870ee5f       None
1             5894    Ormilee   Almaguer  +12107979667          tori4121@gmail.com 2019-06-28 01:55:36.265373 2019-06-28 01:55:36.265373  132724-TBENOosCtV  2f2e383e-2ee3-4cc3-9866-b1292e1be349       None
2             8048     Kelton      Reese  +15805911512         arckangyl@gmail.com 2019-07-23 02:45:42.225024 2019-07-23 02:45:42.225024  143671-5taK2CfSWN  afe744b9-f420-4c9f-b464-14778c23586d       None
3              606    Michael      Gamez  +12105358126        mgamez0213@gmail.com 2019-04-02 16:53:00.886885 2019-04-02 16:53:00.886885  109216-iDuEOLzrKu  fba55422-19fc-4be2-b366-bee2d764af48       None
4            18267      Sarah   Beckmann  +18284194658        sebpuppies@yahoo.com 2019-09-25 04:12:39.755749 2019-09-25 04:12:39.755749   62760-0CqYFZxa64  63269f2e-7aca-42c2-b2f6-fc68baeb37ed       None
...            ...        ...        ...           ...                         ...                        ...                        ...                ...                                   ...        ...
19917         2608    Matthew     Kiesel  +18179194356       matt.kiesel@gmail.com 2019-05-08 02:24:39.194062 2019-05-08 02:24:39.194062  117857-mfwpG3k8D5  180d5118-672c-4d3b-874b-7ff9b9504e8e       None
19918        13844      Daisy     Moreno  +12143770985    daisymoreno599@yahoo.com 2019-09-03 03:35:24.379669 2019-09-03 03:35:24.379669  167260-i8uNcPnhJh  45791e2f-9eef-483e-99e9-ff70872d6c57       None
19919        18676     Sarita  Rayamajhi  +14197214611  sararayamajhi.sr@gmail.com 2019-09-27 04:05:27.928657 2019-09-27 04:05:27.928657               None  38052fd6-b329-47dd-b111-283e341b2752     186614
19920        10892    Bradley      Costa  +15123673583    costa.bradleyj@gmail.com 2019-08-14 20:51:41.811460 2019-08-14 20:51:41.811460  156430-YCGUhOhvsR  33c8dc73-a09e-4e2e-8426-0029cb578be3       None
19921         3184      Jairo      Lopez  +19726390750     jairolopez716@gmail.com 2019-05-16 19:40:00.102932 2019-05-16 19:40:00.102932  120300-EtFh1DaCVx  a882c18e-67e0-490b-93b6-9b706cfccbf5       None

[19922 rows x 10 columns]

## set your AWS account credentials using the below command and enter your Access key ID and Secret Access Key. You can use default for region and output format 
#aws configure
#AWS Access Key ID [****************]:
#AWS Secret Access Key [****************]:
#Default region name [eu-west-1]:
#Default output format [None]:
## then boto3  config file (named credentials) is set up at  '~/.aws/credentials'.

In [83]:
s3 = boto3.resource('s3')

In [84]:
for bucket in s3.buckets.all():

       print(bucket.name)

anand-video-files
aws-website-coverrentention-b4van
code-internal-backups
connect-9e72606b95ca
connect-d810c46944b2
cover-agent-files
cover-code
cover-data-engineering
cover-design
cover-flex-files
cover-policy-admin-production
cover-serverless-flex-de-serverlessdeploymentbuck-j8dve8zbsyx2
cover-static-assets-dev
coverappreadmefiles
flex-mms-production
flex-mms-sandbox
go-test-dev-serverlessdeploymentbucket-1ijerevd4wwjy
hellosign-lambda-function
lexis-nexis-contributions
policy-admin-contract-assets
policy-admin-development
policy-admin-production
policy-admin-staging
policy-admin-test
python-test-dev-serverlessdeploymentbucket-1ic5mf4mf726j
stagingcalls
stylekick-backups
texas-sure-contributions
verisk-contributions

In [85]:
mybucket= 'cover-data-engineering'

In [86]:
# list all objects in a bucket
for file in s3.Bucket('cover-data-engineering').objects.all():
    print(file.key)

customers_20191003.csv
policies.csv
policies_from_local.csv

## upload local file to S3

In [41]:
#df.to_csv('/Users/Yue/work/sqloutput/policies_local.csv', index=False)

s3.Object('cover-data-engineering','policies_from_local.csv').upload_file(Filename='/Users/Yue/work/sqloutput/policies_local.csv')

## another way to upload local file to S3
#s3_client = boto3.client('s3')
#s3_client.upload_file('/Users/Yue/work/sqloutput/policies_local.csv','cover-data-engineering','policies_from_local.csv')

## upload pandas dataframe directly to s3

In [87]:
#now = datetime.now().strftime("%Y_%m_%d %H:%M:%S")
datestamp = datetime.now().strftime("%Y%m%d")

datestamp

'20191003'

In [88]:
df_name = 'customers'
s3_file = df_name +  '_' + datestamp + '.csv'
s3_file

'customers_20191003.csv'

In [89]:
# write dataframe to buffer 
from io import StringIO
csv_buffer = StringIO()
df.to_csv(csv_buffer, index=False)

# upload it to s3:
s3.Object(mybucket, s3_file).put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '58181446C35E4F51',
  'HostId': 'pRGswpY5WmPpUuMjFpWsUjdE8E/pXelrkKgbERb39XIslw4iqL/GfqWOu7ayLhlpO2MPTh87wZs=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'pRGswpY5WmPpUuMjFpWsUjdE8E/pXelrkKgbERb39XIslw4iqL/GfqWOu7ayLhlpO2MPTh87wZs=',
   'x-amz-request-id': '58181446C35E4F51',
   'date': 'Thu, 03 Oct 2019 17:29:58 GMT',
   'x-amz-version-id': 'LJQVbPaD_8_Y.Sh0FFeNf7bR02EeM_MC',
   'etag': '"29c12c09e36ffb65fee2f05d4ddb7021"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"29c12c09e36ffb65fee2f05d4ddb7021"',
 'VersionId': 'LJQVbPaD_8_Y.Sh0FFeNf7bR02EeM_MC'}

# Upload file from S3 to Redshift

In [90]:
#connect to AWS Redshift Data Warehouse
dw_con = pg.connect(host="redshift-cluster-1.cnjweepohvzo.us-east-1.redshift.amazonaws.com",
                 port=5439,
                 database="cover", 
                 user="coverde", 
                 password="Coverde1988$")

In [91]:
# truncate the table first 
cur = dw_con.cursor()
cur.execute(""" truncate table policyadmin.customers """)

# load the file to redshift table
cur.execute("begin;")
dw_con.commit()

sql = """
    copy policyadmin.customers from 's3://cover-data-engineering/customers_20191003.csv'
    access_key_id 'AKIAZPNKDUSKPITKSZJ2'
    secret_access_key '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'
    region 'us-east-1'
    ignoreheader 1
    removequotes
    delimiter ',';
    """
cur.execute(sql)
dw_con.commit()

In [92]:
# Dynamically load the S3 file to redshift table
cur.execute("begin;")
dw_con.commit()

sql =  """copy policyadmin.customers from 's3://cover-data-engineering/""" + s3_file +  "'" + """ 
    access_key_id 'AKIAZPNKDUSKPITKSZJ2'
    secret_access_key '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'
    region 'us-east-1'
    ignoreheader 1
    EMPTYASNULL
    removequotes
    delimiter ',';
    """
cur.execute(sql)
dw_con.commit()